@import url('https://fonts.goggleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


#p{
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
}

#j{
  font-family: Montserrat;
}

#u{
  text-decoration: underline;
}